* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #201D2E;
}
#digital-clock{
    margin-top: 10vh;
}
h1 {
    margin: 0% auto 5vh;
    text-align: center;
    color: #d8a4ff;
}

.clock {
    display: flex;
    width: fit-content;
    margin: 0% auto;
}

.clock input {
    background-color: #201D2E;
    font-size: 2rem;
    border: none;
    font-family: "Orbitron", sans-serif;
    width: 7vw;
    color: aliceblue;
}

h2 {
    color: aliceblue;
    width: 100px;
    text-align: center;
}

#stop-watch{
margin-top: 10vh;
}

.watch,
.units {
    display: flex;
    justify-content: space-evenly;
}

#buttons {
    display: flex;
    justify-content: center;
}

button {
    border: 2px solid #54475E;
    background-color: #54475E;
    color: aliceblue;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5vw;

}

button:hover {
    background-color: #201D2E;
    transition: 0.3s;
}

#laps p {
    color: aliceblue;
    margin: 10px auto;
    font-size: 1.5rem;
    width: max-content;
}

footer {
    bottom: 0px;
    position: absolute;
    text-align: center;
    width: 100vw;
    color: aliceblue;
}

footer a {
    text-decoration: none;
    color: #d8a4ff;
}
@media only screen and (max-device-width: 480px) {
    #buttons{
flex-wrap: wrap;
margin-top: 20px;
    }
    button{
        margin: 7px 10px;
        height: 30px;
        width: 90px;
    }
    .clock input {
        width: 17vw;
       
    }
    h2 {
        font-size: 16px;
    }
}