* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #201D2E;
}

h1 {
    margin: 0% auto;
    text-align: center;
    color: #54475E;
}

.clock {
    display: flex;

    width: fit-content;
    margin: 0% auto;
}

.clock input {
    background-color: #201D2E;
    font-size: 2rem;
    border: none;
    font-family: "Orbitron", sans-serif;
    width: 7vw;
    color: aliceblue;

}

span {
    color: aliceblue;
    margin-top: 8px;

}

h2 {
    color: aliceblue;
    width: 100px;
    text-align: center;
}





.watch,
.units {
    display: flex;
    justify-content: space-evenly;
}

#buttons {
    display: flex;
    justify-content: center;
}

button {
    border: 2px solid #54475E;
    background-color: #54475E;
    color: aliceblue;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5vw;

}

button:hover {
    background-color: #201D2E;
    transition: 0.3s;
}

#laps p {
    color: aliceblue;
    margin: 10px auto;
    font-size: 1.5rem;
    width: max-content;
}

































footer {
    bottom: 0px;
    position: absolute;
    text-align: center;
    width: 100vw;
    color: aliceblue;
}

footer a {
    text-decoration: none;
    color: #54475E;
}